* {
  box-sizing: border-box;
}
body {
  background-color: rgb(192, 192, 192);
}
h1 {
  text-transform: uppercase;
}
header {
  width: 100%;
  text-align: center;
  background-color: white;
}
h3 {
  margin-bottom: 0;
}
nav {
  width: 100%;
  background-color: black;
  overflow: hidden;
}
nav a {
  padding: 8px 20px;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  float: left;
  font-size: large;
}
nav a:hover {
  background-color: white;
  color: black;
}
.card {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
}
.card-content {
  background-color: rgb(199, 199, 199);
  width: 90%;
  margin: 5px auto;
  height: 200px;
  padding: 10px;
}
footer {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10;
  height: 80px;
}
footer a {
  text-decoration: none;
  font-size: large;
  font-family: cursive, sans-serif, serif;
  font-weight: bold;
}
footer::before {
  content: "";
  clear: both;
  display: table;
}

/* @media only screen and (min-width: 500px) {
  .header nav a {
    display: block;
    width: 100%;
  }
} */
@media only screen and (min-width: 768px) {
  .left-column {
    float: left;
    width: 69%;
  }
  .right-column {
    float: right;
    width: 30%;
  }
}
